.Welcome_Or_Login_Or_Game_Window{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
}

#NewGame{
    position: absolute;
    width: 100%;
    height: 100%;
}

#Welcome{
    position: absolute;
    width: 100%;
    height: 100%;
}