.Welcome_Screen{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 96%;
    height: 90%
}

.Welcome_Menu{
    position: absolute;
    width: 20%;
    left: 40%;
    height: 44%;
    top: 30%;
    background-color: cadetblue;
    border-color: goldenrod;
    border-style: groove;
    padding: 1%;
    border-width: 7px;
}

.Welcome_Option{
    position: absolute;
    border-color: goldenrod;
    color: darkgoldenrod;
    background-color: darkslategrey;
    border-style: ridge;
    border-width: 3px;
    padding: 6px;
    padding-bottom: 10px;
    font-size: 18pt;
    text-align: center;
    align-self: center;
}

#New{
    top: 10%;
    left: 23%;
}

#Load{
    top: 40%;
    left: 11%;
}

#Info{
    top: 70%;
    left: 30%;
}



#WelcomeBanner{
    position: absolute;
    border-style: groove;
    padding: 1%;
    border-width: 7px;
    border-color: goldenrod;
    top: 0%;
    left: 2%;
}

#BigOlText{
    font-size: 36pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgoldenrod
}

