#AttributeSelection{
    position: absolute;
    top: 5%;
    height: 92%;
    left: 3%;
    width: 93%;
}

#AttributeSelectionHeading{
    position: absolute;
    top: 5%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.StatAreaAttrSel{
    position: absolute;
    top: 20%;
    height: 8.5%;
    width: 100%;
}

#sAtkAtr1{
    position: absolute;
    top: 30%;
}

#DefAtr1{
    position: absolute;
    top: 40%;
}

#sDefAtr1{
    position: absolute;
    top: 50%;
}

#spdAtr1{
    position: absolute;
    top: 60%;
}

#hpAtr1{
    position: absolute;
    top: 70%;    
}

.StatCompleteButton{
    position: absolute;
    top: 82%;
    left: 6%;
    border: black;
    border-style: groove;
    border-radius: 2%;
    font-size: xx-large;
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkslategrey;
    color: goldenrod;
}

#NotAllAssigned{
    font-size: 11pt;
    left: 1%;
    background-color: gray;
    color: rgb(184, 19, 19);
    font-weight: 800;
}

#AttrImg{
    position: absolute;
    width: 25%;
    height: 65%;
    left: 37%;
    top: 10%;

}